h1 {
    color: #4c4f53;
    letter-spacing: -1px;
    font-size: 24px;    
    font-weight: 300;
    margin: 20px;
}

.addActivityWrapper {
    border: 1px solid #ddd;
    background: #fbfbfb;
    padding: 15px;
    margin: 20px;
    width: 94%;
    float: left;
	p {
		margin: 12px 0 12px;
	}	
	.colWrapper {
		float: left;
		width: 100%;
	    margin-bottom: 20px;	
		.col2 {
			float: left;	
			width: 16%;
			padding: 10px;
			&.time {
				select{
					float: left;
					width: 50%;
				}
			}
		}

		.col4 {
			float: left;	
			width: 40%;
			padding: 10px;
		}
		.col5 {
		    width: 47%;
		    float: left;
		    margin: 0 15px;
		    textarea {
		    	width: 100%;
		    }
		    p{
		    	padding-top: 10px;
		    }		    
		}
		label {
			display: block;
		    margin-bottom: 6px;
		    line-height: 19px;
		    font-weight: 400;
		    font-size: 13px;
		    text-align: left;
		    width: 100%;
		}
		select {
		    display: block;
		    width: 100%;
		    height: 35px;
		    padding: 8px 10px;
		    outline: 0;
		    border-width: 1px;
		    border-style: solid;
		    border-radius: 0;
		    background: #fff;
		    color: #404040;
		}
	}
	.saveBtnDiv {
		text-align: center;
		button {
			color: #fff;
			cursor: pointer;
		    background-color: #3276b1;
		    border: 1px solid #3276b1;
		    padding: 7px;
		    font-size: 14px;
		    &:disabled {
		    	color: #404040;
			    background-color: #ddd;
			    border: 1px solid #ddd;
		    	cursor: default;
			}
		}
	}
	
	
}