body {
	font-family: Verdana,sans-serif,Helvetica;
	font-size: 12px;
	margin: 0;
	.header, .footer {
	    background-color: #2C3742;
	    padding: 30px;
	}

	.footer {
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	}
}
